### Etude de marché

## 1. Preliminary

     *** Contexte ***

Identification des contrefaçons des billets en euros

Les billets d'euro ont des valeurs nominales de 5, 10, 20, 50, 100, 200 et 500 euros.

In [4]:
pwd

'/tmp/Project-10/notebooks'

In [5]:
ls

LAHBIB_Nada_1_notebook_022024.ipynb

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/source/test.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'data/source/test.csv'

In [6]:
cd ..

/tmp/Project-10

/tmp/Project-10/.venv/lib/python3.11/site-packages/IPython/core/magics/osm.py:417: UserWarning: This is now an optional IPython functionality, setting dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [8]:
pwd

'/tmp/Project-10'

In [9]:
ls

assets/       data/            LICENCE     README.md         ressources/
CHANGELOG.md  environment.yml  notebooks/  requirements.txt

In [10]:
df = pd.read_csv("data/source/test.csv")
df

   id  age
0   1   12
1   2   13

In [7]:
!python -V

Python 3.9.13

In [8]:
!where python

c:\Users\Nada\anaconda3\python.exe
C:\Users\Nada\AppData\Local\Programs\Python\Python311\python.exe
C:\Users\Nada\AppData\Local\Microsoft\WindowsApps\python.exe

## 1.1 Install

In [9]:
#

# 1.2 Import

Importation des librairies

In [10]:
#builtin
import os

In [ ]:

#data
import pandas as pd
import numpy as np

In [ ]:

#visualisation 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import missingno as msno

## 1.3 Data

Importation des fichiers

In [11]:
input_folder = r"C:\Users\Nada\Desktop\OpenClassRooms\Projet 10\Data\0 Source"
df= pd.read_csv(os.path.join(input_folder, "billets.csv"), dtype=float, sep=';')

1.3.1 Display

In [12]:
df.head()

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,1.0,171.81,104.86,104.95,4.52,2.89,112.83
1,1.0,171.46,103.36,103.66,3.77,2.99,113.09
2,1.0,172.69,104.48,103.50,4.40,2.94,113.16
3,1.0,171.36,103.91,103.94,3.62,3.01,113.51
4,1.0,171.73,104.28,103.46,4.04,3.48,112.54

In [13]:
df.tail()

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
1495,0.0,171.75,104.38,104.17,4.42,3.09,111.28
1496,0.0,172.19,104.63,104.44,5.27,3.37,110.97
1497,0.0,171.80,104.01,104.12,5.51,3.36,111.95
1498,0.0,172.06,104.28,104.06,5.17,3.46,112.25
1499,0.0,171.47,104.15,103.82,4.63,3.37,112.07

In [14]:
df.sample(5)

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
684,1.0,172.13,103.76,103.85,3.65,3.24,112.92
749,1.0,171.77,103.73,103.48,4.21,2.92,113.24
138,1.0,172.43,104.05,104.02,4.09,2.93,113.60
753,1.0,171.96,103.40,104.29,3.77,3.24,112.87
51,1.0,172.03,103.59,104.09,4.49,2.85,113.44

In [15]:
df.shape

(1500, 7)

In [16]:
df.dtypes

is_genuine      float64
diagonal        float64
height_left     float64
height_right    float64
margin_low      float64
margin_up       float64
length          float64
dtype: object

In [17]:
df.describe().round(2)

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
count,1500.000000,1500.000000,1500.000000,1500.000000,1463.000000,1500.000000,1500.00000
mean,0.666667,171.958440,104.029533,103.920307,4.485967,3.151473,112.67850
std,0.471562,0.305195,0.299462,0.325627,0.663813,0.231813,0.87273
min,0.000000,171.040000,103.140000,102.820000,2.980000,2.270000,109.49000
25%,0.000000,171.750000,103.820000,103.710000,4.015000,2.990000,112.03000
50%,1.000000,171.960000,104.040000,103.920000,4.310000,3.140000,112.96000
75%,1.000000,172.170000,104.230000,104.150000,4.870000,3.310000,113.34000
max,1.000000,173.010000,104.880000,104.950000,6.900000,3.910000,114.44000

In [18]:
df.isnull().sum()

is_genuine       0
diagonal         0
height_left      0
height_right     0
margin_low      37
margin_up        0
length           0
dtype: int64

In [11]:
df.duplicated().sum()

0

In [ ]:
df.drop(columns="is_geniune").duplicated().sum()

In [20]:
df.nunique()

is_genuine        2
diagonal        159
height_left     155
height_right    170
margin_low      285
margin_up       123
length          336
dtype: int64

In [21]:
# ID
df['id'] = ['B_' + str(i) for i in range(1, len(df) + 1)]

In [22]:
df

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length,id
0,1.0,171.81,104.86,104.95,4.52,2.89,112.83,B_1
1,1.0,171.46,103.36,103.66,3.77,2.99,113.09,B_2
2,1.0,172.69,104.48,103.50,4.40,2.94,113.16,B_3
3,1.0,171.36,103.91,103.94,3.62,3.01,113.51,B_4
4,1.0,171.73,104.28,103.46,4.04,3.48,112.54,B_5
...,...,...,...,...,...,...,...,...
1495,0.0,171.75,104.38,104.17,4.42,3.09,111.28,B_1496
1496,0.0,172.19,104.63,104.44,5.27,3.37,110.97,B_1497
1497,0.0,171.80,104.01,104.12,5.51,3.36,111.95,B_1498
1498,0.0,172.06,104.28,104.06,5.17,3.46,112.25,B_1499
1499,0.0,171.47,104.15,103.82,4.63,3.37,112.07,B_1500

In [23]:
df['is_genuine'].value_counts()

is_genuine
1.0    1000
0.0     500
Name: count, dtype: int64

In [24]:
nb_true = df.loc[df['is_genuine'] == 1, 'is_genuine'].count()
nb_true

1000