### Détectection des faux billets avec Python

## 1. Preliminary

     *** Contexte ***

Identification des contrefaçons des billets en euros

Les billets d'euro ont des valeurs nominales de 5, 10, 20, 50, 100, 200 et 500 euros.

In [82]:
pwd

'c:\\Users\\Nada\\Desktop\\OpenClassRooms\\Projet 10'

In [83]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 363F-2F53

 Directory of c:\Users\Nada\Desktop\OpenClassRooms\Projet 10

26/02/2024  15:21    <DIR>          .
19/02/2024  08:09    <DIR>          ..
26/02/2024  15:21    <DIR>          Cours
17/02/2024  11:47    <DIR>          Data
26/02/2024  17:20    <DIR>          Project-10
               0 File(s)              0 bytes
               5 Dir(s)  17,055,817,728 bytes free

In [84]:
cd ..

c:\Users\Nada\Desktop\OpenClassRooms

In [85]:
pwd

'c:\\Users\\Nada\\Desktop\\OpenClassRooms'

In [86]:
ls

 Volume in drive C is Windows
 Volume Serial Number is 363F-2F53

 Directory of c:\Users\Nada\Desktop\OpenClassRooms

19/02/2024  08:09    <DIR>          .
28/02/2024  12:49    <DIR>          ..
10/01/2024  12:07            67,805 768590122747-8668588399-billet.pdf
09/01/2024  17:59    <DIR>          Attestation
27/12/2023  16:49    <DIR>          EXTRAT
19/02/2024  08:10    <DIR>          GitHub
10/01/2024  12:49           337,577 LAHBIB_Nada_1_notebook_042023.ipynb
05/02/2024  09:15    <DIR>          other
23/01/2023  10:07    <DIR>          Projet 1
26/02/2024  15:21    <DIR>          Projet 10
26/06/2023  18:41    <DIR>          Projet 2
17/03/2023  11:28    <DIR>          Projet 3
18/02/2024  17:28    <DIR>          Projet 4
05/05/2023  10:05    <DIR>          Projet 5
08/05/2023  11:32    <DIR>          Projet 6
27/10/2023  12:25    <DIR>          Projet 7
14/12/2023  13:10    <DIR>          Projet 8
30/01/2024  11:03    <DIR>          Projet 9
               2 File(s)        405,382 bytes
              16 Dir(s)  17,055,817,728 bytes free

In [87]:
!python -V

Python 3.9.13

In [88]:
!where python

c:\Users\Nada\anaconda3\python.exe
C:\Users\Nada\AppData\Local\Programs\Python\Python311\python.exe
C:\Users\Nada\AppData\Local\Microsoft\WindowsApps\python.exe

## 1.1 Install

In [89]:
#

# 1.2 Importation

## 1.2.1 Importation des librairies

In [90]:
#builtin
import os

In [91]:

#data
import pandas as pd
import numpy as np

In [92]:

#visualisation 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import missingno as msno

## 2.1 chargement des fichiers

In [93]:
input_folder = r"C:\Users\Nada\Desktop\OpenClassRooms\Projet 10\Data\0 Source"
df= pd.read_csv(os.path.join(input_folder, "billets.csv"), dtype=float, sep=';')

## 2. Prétraitement des données

## 2.2 Exploration

In [94]:
#Affichage des 5 premieres lignes
df.head()

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
0,1.0,171.81,104.86,104.95,4.52,2.89,112.83
1,1.0,171.46,103.36,103.66,3.77,2.99,113.09
2,1.0,172.69,104.48,103.50,4.40,2.94,113.16
3,1.0,171.36,103.91,103.94,3.62,3.01,113.51
4,1.0,171.73,104.28,103.46,4.04,3.48,112.54

In [95]:
#Affichage des 5 dernieres lignes
df.tail()

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
1495,0.0,171.75,104.38,104.17,4.42,3.09,111.28
1496,0.0,172.19,104.63,104.44,5.27,3.37,110.97
1497,0.0,171.80,104.01,104.12,5.51,3.36,111.95
1498,0.0,172.06,104.28,104.06,5.17,3.46,112.25
1499,0.0,171.47,104.15,103.82,4.63,3.37,112.07

In [96]:
#Affichage de 5 lignes arbitrairement
df.sample(5)

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
1363,0.0,172.00,104.46,104.30,5.27,3.37,111.85
1263,0.0,171.59,104.05,104.40,5.05,3.45,111.14
922,1.0,172.24,103.95,103.52,4.33,2.88,113.48
822,1.0,171.97,103.79,103.56,4.17,3.11,113.58
873,1.0,172.29,103.93,103.82,4.25,3.11,113.54

In [97]:
#Dimensions du DataFrame
df.shape

(1500, 7)

In [98]:
#Information sur les colonnes
df.dtypes

is_genuine      float64
diagonal        float64
height_left     float64
height_right    float64
margin_low      float64
margin_up       float64
length          float64
dtype: object

In [99]:
#Nombre des valeurs manquantes dans chaque colonne
df.isnull().sum()

is_genuine       0
diagonal         0
height_left      0
height_right     0
margin_low      37
margin_up        0
length           0
dtype: int64

On a 37 valeurs manquantes dans la colonne margin_low

In [100]:
#Statistiques descriptives
df.describe().round(2)

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
count,1500.00,1500.00,1500.00,1500.00,1463.00,1500.00,1500.00
mean,0.67,171.96,104.03,103.92,4.49,3.15,112.68
std,0.47,0.31,0.30,0.33,0.66,0.23,0.87
min,0.00,171.04,103.14,102.82,2.98,2.27,109.49
25%,0.00,171.75,103.82,103.71,4.01,2.99,112.03
50%,1.00,171.96,104.04,103.92,4.31,3.14,112.96
75%,1.00,172.17,104.23,104.15,4.87,3.31,113.34
max,1.00,173.01,104.88,104.95,6.90,3.91,114.44

In [101]:
#Nombre des doublons dans le DataFrame
df.duplicated().sum()

0

In [102]:
#Nombre des doublons sans le target
df.drop(columns="is_genuine").duplicated().sum()

0

In [103]:
#Information sur les valeurs unique dans chaque colonne
df.nunique()

is_genuine        2
diagonal        159
height_left     155
height_right    170
margin_low      285
margin_up       123
length          336
dtype: int64

In [104]:
#Nombre de valeur dans la target
df['is_genuine'].value_counts()

is_genuine
1.0    1000
0.0     500
Name: count, dtype: int64

## 2.3 Nettoyage des données

### 2.3.1 Imputation des valeurs manquantes

In [105]:
# Créer un masque booléen pour identifier les valeurs manquantes
mask_missing_values = df.isna().any(axis=1)

# Utiliser le masque pour indexer le DataFrame et afficher les lignes avec des valeurs manquantes
rows_with_missing_values = df.loc[mask_missing_values]

rows_with_missing_values.head()

,is_genuine,diagonal,height_left,height_right,margin_low,margin_up,length
72,1.0,171.94,103.89,103.45,NaN,3.25,112.79
99,1.0,171.93,104.07,104.18,NaN,3.14,113.08
151,1.0,172.07,103.80,104.38,NaN,3.02,112.93
197,1.0,171.45,103.66,103.80,NaN,3.62,113.27
241,1.0,171.83,104.14,104.06,NaN,3.02,112.36

In [106]:
rows_with_missing_values.nunique()

is_genuine       2
diagonal        32
height_left     30
height_right    30
margin_low       0
margin_up       29
length          33
dtype: int64

les valeurs manquantes appartiennent aux deux types des billets authentique et faux.

les valeurs manquantes sont de type continue

In [107]:
#Choix de la methode regression lineaire pour l'imputation des valeurs manquantes

from sklearn.linear_model import LinearRegression

In [108]:
# Séparer les données en deux ensembles : avec et sans valeurs manquantes

test_data = df[df['margin_low'].isna()] #DataFrame qui contient que les valeurs manquantes

train_data = df[~df['margin_low'].isna()] #dataframe sans valeurs manquantes

In [109]:
test_data.shape

(37, 7)

In [110]:
train_data.shape

(1463, 7)

In [111]:
# Diviser les données en variables explicatives (X) et la variable cible (y)
#les variables cibles (X)
X_train = train_data.drop(columns=['margin_low'])
X_train

      is_genuine  diagonal  height_left  height_right  margin_up  length
0            1.0    171.81       104.86        104.95       2.89  112.83
1            1.0    171.46       103.36        103.66       2.99  113.09
2            1.0    172.69       104.48        103.50       2.94  113.16
3            1.0    171.36       103.91        103.94       3.01  113.51
4            1.0    171.73       104.28        103.46       3.48  112.54
...          ...       ...          ...           ...        ...     ...
1495         0.0    171.75       104.38        104.17       3.09  111.28
1496         0.0    172.19       104.63        104.44       3.37  110.97
1497         0.0    171.80       104.01        104.12       3.36  111.95
1498         0.0    172.06       104.28        104.06       3.46  112.25
1499         0.0    171.47       104.15        103.82       3.37  112.07

[1463 rows x 6 columns]

In [112]:
# Diviser les données en variables explicatives (X) et la variable cible (y)
#la variable cible (y) (target)
y_train= train_data['margin_low']
y_train.shape

(1463,)

In [113]:
## Model
# Créer et entraîner le modèle de régression linéaire
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [114]:
#creation de la variable X_test
X_test = test_data.drop(columns=['margin_low'])

In [115]:
# Prédire les valeurs manquantes
y_predicted = model.predict(X_test)

In [116]:
y_predicted.shape

(37,)

In [117]:
# Remplacer les valeurs manquantes par les valeurs prédites
df.loc[df['margin_low'].isna(), 'margin_low'] = y_predicted

In [118]:
y_predicted

array([4.06495361, 4.11199026, 4.13400328, 3.99357074, 4.1403993 ,
       4.09428392, 4.07412432, 4.12538999, 4.0807278 , 4.07363322,
       4.11897255, 4.18037978, 4.13648423, 4.05106842, 4.17837685,
       4.22555104, 4.11586845, 4.10284101, 4.08184346, 4.09276238,
       4.11250192, 4.15717623, 4.16028787, 4.12193808, 4.12353555,
       4.19842271, 4.10962313, 4.09696025, 4.13384101, 5.25968515,
       5.264817  , 5.28251853, 5.30206887, 5.20035843, 5.1754678 ,
       5.17345045, 5.24675055])

In [119]:
y_predicted.shape

(37,)

In [120]:
df.isnull().sum()

is_genuine      0
diagonal        0
height_left     0
height_right    0
margin_low      0
margin_up       0
length          0
dtype: int64

In [121]:
1/0

ZeroDivisionError: division by zero

## 2.3.2 Detection des outliers

## 2.3.1.1 Data mining

## 2.4 Preparation des données